<% if User.current.allowed_to?(:add_more_assignees, assigned.project) %>
<div class="contextual">
<%= link_to l(:button_add),
      {:controller => 'assignees', :action => 'new', :object_type => assigned.class.name.underscore, :object_id => assigned},
      :remote => true,
      :method => 'get' %>
</div>
<% end %>

<h3><%= l(:label_issue_watchers) %> (<%= assigned.assignee_users.size %>)</h3>

<%= assignees_list(assigned) %>