
<p id="assignees_form"><label><%= l(:label_more_assignees) %></label>

    </span>
        <a href="#" id="more-assignees-link">More assignees</a>
    </span>
    </br>
    <span id="assignees_inputs">
    </span>
</p>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'stylesheets', plugin: 'assignees' %>
    <%= javascript_include_tag 'javascripts', plugin: 'assignees' %>
    <%= javascript_include_tag 'datahandle', plugin: 'assignees' %>
    <%= javascript_include_tag 'visible', plugin: 'assignees' %>
    <%= javascript_include_tag 'formhandle', plugin: 'assignees' %>
    <%= javascript_include_tag 'searchboxhandle', plugin: 'assignees' %>
<% end %>
