<h3 class="title"><%= l(:label_add_more_assignees) %></h3>

<%= form_tag({#:controller => 'assignees',
              #:action => (assigned ? 'create' : 'append'),
              :object_type => (assigned && assigned.class.name.underscore),
              :object_id => assigned,
              :project_id => @project},
              :remote => true,
              :method => :post,
              :id => 'new-assignee-form') do %>

  <p><%= label_tag 'user_search', l(:label_user_search) %>
    <%= text_field_tag 'user_search', nil %>
  </p>


  <%= javascript_tag "observeSearchfield('user_search', 'users_for_assignee', '#{ escape_javascript url_for(:controller => 'assignees',
                 :action => 'autocomplete_for_user',
                 :object_type => (assigned && assigned.class.name.underscore),
                 :object_id => assigned,
                 :project_id => @project) }')" %>

  <div id="users_for_assignee">
    <%= custom_check_box_tags('assignee[user_ids][]', users) %>
  </div>

  <p class="buttons">
    <%= submit_tag l(:button_add), :name => nil, :onclick => "hideModal(this);" %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'stylesheets', plugin: 'assignees' %>
    <%= javascript_include_tag 'searchboxhandle', plugin: 'assignees' %>
<% end %>