<% selector = ".#{assignee_css(assigned)}" %>
$("<%= selector %>").each(function(){$(this).replaceWith("<%= escape_javascript assignee_link(assigned, user) %>")});
$('#assignees').html('<%= escape_javascript(render(:partial => 'assignees/assignees', :locals => {:assigned => assigned.first})) %>');