<% if @users != nil %>
  <% @users.each do |user| %>
    $("#issue_assignee_user_ids_<%= user.id %>").remove();
  <% end %>
<% end %>

$('#assignees_inputs').empty()

<% if @users != nil %>
  $('#assignees_inputs').append('<%= escape_javascript(assignees_checkboxes(nil, @users, true)) %>');
<% end %>