('#ajax-modal').html('<%= escape_javascript(render(:partial => 'assignees/new', :locals => {:assigned => @assigned, :users => @users})) %>');
$('#assignees').html('<%= escape_javascript(render(:partial => 'assignees/assignees', :locals => {:assigned => @assigned})) %>');
