$('#ajax-modal').html('<%= escape_javascript(
                    render :partial => 'assignees/new', # load the partial _new.html.erb
                    :locals => {
                        :assigned => @assigned, 
                        :users => @users}) %>');
showModal('ajax-modal', '400px');
$('#ajax-modal').addClass('new-assignee');